@model IEnumerable<BlogMvc.Models.BlogModel>
@{
    ViewBag.Title = "Meslek Alemi";
}

<h2>Yazılarım</h2>

<div class="row">
    <div class="col-md-8">

        @foreach (var blog in Model)
        {
            <div class="blog">
                <h3 class="page-header baslik">
                    @blog.Baslik
                </h3>
                <p>
                    <span class="glyphicon glyphicon-time"></span>
                    @blog.EklenmeTarihi
                </p>
                <hr />
                <img class="img-responsive" src="http://placehold.it/900x300" alt="" />
                <hr />
                <p>
                    @blog.Aciklama
                </p>
                @Html.ActionLink("Devamını Oku...","Details","Blog",new {id = @blog.Id } ,new {@class="btn btn-primary" })
                
            </div>
         }

    </div>

    <div class="col-md-4">
        <div class="well">
            <h4>Blog Ara</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>
    </div>
</div>

